<div class="form-group">
  <div class="row">
    <div class="col-md-2">
      Starting From:
    </div>
    <!--div class="col-md-3">
      <input id='gmaps-input1-address-from' class='form-control' placeholder='Start typing a place name...' type='text' />
    </div>
    <div class="col-md-2">
      Destination:
    </div>
    <div class="col-md-3">
      <input id='gmaps-input1-address-to' class='form-control' placeholder='Start typing a place name...' type='text' />
    </div>
  </div-->

  <input type="text", id="datetimepicker1" />
  <button type="button", id= <%= @flag == 'date-from' ? 'submit-modal' : 'hello'  %> > Submit </button>


</div>


  <!--div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div-->