<!DOCTYPE html>
<head>
  <meta charset='utf-8'>
  <title>rjshade/gmaps-autocomplete @ GitHub</title>
  <title>Google Maps and jqueryUI</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
</head>

<body>


<div class="container">
  <div class="flash-message">
  </div>

  <!--div class="modal-popup">

    <div class="modal" id="myModal1" role="dialog">
      <div class="modal-dialog"-->

        <!-- Modal content-->
        <!--div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add trip</h4>
          </div>
          <div class="modal-body edit-trip-body">
          </div>
        </div>
      </div>
    </div>
  </div-->



  <div class="modal-popup">
    <div class="modal" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add trip</h4>
          </div>
          <div class="modal-body">
          </div>
          <!--div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div-->
        </div>
      </div>
    </div>
  </div>




  <!--%= link_to 'Load Partial', partial_markers_path(flag: 'date-to'), {:remote => true,"data-toggle": "modal", "data-target": "#myModal"} %-->

  <div class="row">
    <div class="col-sm-3">
      <h3 class="text-info">Trips History </h3>
    </div>
    <div class="col-sm-2 create-trip-button">
      <!--button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">Create trip</button-->
      <%= link_to 'Create Trip', new_marker_path, class:"btn btn-info btn-md", data: {target: '#myModal',toggle: 'modal'},remote: :true %>
    </div>
  </div>
  <div class="row main-div">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
        <tr class="row">
          <th class="col-sm-4">Starting Location</th>
          <th class="col-sm-4">Ending Location</th>
          <th class="col-sm-offset-1 col-sm-3">Actions</th>
        </tr>
        </thead>
        <tbody class="append-row">
        <% @markers.each do |location| %>
            <%= render 'partial', route: location %>
        <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-12 email-template-load"></div>
      </div>
      <!--div class="email-template-load">

      </div-->
    </div>
    <div class="col-md-3">
      <h5 class="text-info">Members </h5>
      <div class="active-members-list text-success">
      </div >
      <div class="pending-members-list text-danger">
      </div>
    </div>
    <div class="col-md-3">
      <div id='gmaps-canvas'>
      </div>
    </div>

  </div>
</div>

</body>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datepicker();


        $('#form-submission').click(function(){
            $('#myModal').modal('hide');
        });

        //$('.timepicker1').timepicker();


    });

</script>
