<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @invitation.email_body %></p>
    <p> <%= link_to 'Join Trip' , "http://localhost:3000?code=#{@invitation.marker_id}" %> </p>
  </body>
</html>