<!DOCTYPE html>
<html>
  <head>
    <title>Assignment1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDAwt4vffiK3wZdBKG9ASjuxWOm1aTzEFE&libraries=geometry"></script>
    <!--script async defer src="https://maps.googleapis.com/maps/api/js?key='AIzaSyDAwt4vffiK3wZdBKG9ASjuxWOm1aTzEFE'&callback=initMap"
    type="text/javascript"></script-->

    <!--%= javascript_include_tag "application" %-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!--div>
		< if user_signed_in? %>
		    Welcome <  current_user.email %>
		    < link_to "Sign out", destroy_user_session_path, :method => :delete %>
		< else >
		    < link_to "Sign in", new_user_session_path%> or < link_to "Sign up", new_user_registration_path %>
		< end >
	</div -->
    <%= yield %>
    <%#= js add_gritter(flash[:notice], title: "DailySmarty Notification", sticky: false) %>
  </body>
</html>


